// Bootstrap carousel
.carousel-indicators {
    bottom: -10px;
    
    li {
        background-color: rgba($carousel-indicator-active-bg, .1);
    }

    .active {
        background-color: $carousel-indicator-active-bg;
    }
}

@media (max-width:992px) {
    .carousel-indicators {
        bottom: -20px;
    }
}